.container {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
  }
  
  .card {
    margin: 0 4% !important;
    text-align: center !important;
    box-shadow: 2px 3px 10px grey !important;

  }
  
  .infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
  }
  
  .recovered{
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
  }
  
  .deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
  }
  
  @media only screen and (max-width: 770px) {
    .card {
      margin: 4% 8% !important;
    }
  }

  @media only screen and (max-width: 870px) {
    .card {
      margin: 4% 8% !important;
    }
  }